@model IEnumerable<LMMProject.Models.Assessment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletionCriteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KnowledgeSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradingGuide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Syllabus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletionCriteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoQuestion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KnowledgeSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradingGuide)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Syllabus.SubjectCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssessmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssessmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssessmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
