@model IEnumerable<LMMProject.Models.Session>

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/curri-listing.css">
</head>
<body>
    <div class="curri-details">      
            <div class="navbar">
                <img src="~/image/istockphoto-1138089745-170667a.jpg" class="logo">
                <ul>
                    <li><a asp-controller="ADMIN" asp-action="Dashboard">Home</a></li>
                    <li><a asp-action="Create">Create</a></li>
                    <li><a asp-controller="ADMINSubject" asp-action="Index">Back</a></li>
                </ul>
            </div>
            <div class="content">
                <b>
                    <h1>Learning Materials Management</h1>
                    <p>Sessions List</p>
                </b>
            </div>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LearningTeachingType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StudentMaterials)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Constructivequestion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subject)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Topic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LearningTeachingType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StudentMaterials)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Constructivequestion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject.SubjectCode)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SessionId" class="btn btn-primary">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@item.SessionId" class="btn btn-primary">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</body>
</html>
