@model Curriculum
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/curri-details.css">
    <title>Details</title>
</head>
<body>

    <div class="curri-details">
        <div class="navbar">
            <img src="~/image/istockphoto-1138089745-170667a.jpg" class="logo">
            <ul>
                <li><a asp-controller="UserHome" asp-action="Index">Home</a></li>
            </ul>
        </div>
        <div class="content">
            <b>
                <h1>Learning Materials Management</h1>
                <p>Curriculum Details</p>
            </b>

        </div>
        <table class="table">
            <tr>
                <th>Curriculum Code:</th>
                <td>@Model.CurriculumCode</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>
                    @Model.NameVn
                </td>
            </tr>
            <tr>
                <th>English Name:</th>
                <td>@Model.NameEn</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    @Model.Decription
                </td>
            </tr>
            <tr>
                <th>DecisionNo MM/dd/yyyy:</th>
                <td>@Model.DecisionNo</td>
            </tr>

            <tr>
                <th></th>
                <td>
                    <div>
                        <a asp-controller="" asp-action="" asp-route-id="@Model?.CurriculumId"><button type="button"><span></span> View Combo</button></a>
                    </div>
                </td>
            </tr>
        </table>
        <div class="table-container">
            <table class="table-2">
                <thead>
                    <tr>
                        <th>Subject Code</th>
                        <th>Subject Name</th>
                        <th>Semester</th>
                        <th>Status</th>
                        <th>PreRequisite </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Curri_sub)
                    {
                        <tr>
                            <td>@item.SubjectCode</td>
                            <td>@item.Subject.SubjectNameEn</td>
                            <td>@item.Semester</td>
                            <td>@item.Subject.StatusId</td>
                            <td>@item.Subject.PreRequisite </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div>
            <a asp-action="Index">Back</a>
        </div>
    </div>


</body>
</html>