@model LMMProject.Models.Subject

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/learning.css">
    <title>Details</title>
</head>
<body>

<div>
    <h4>Subject</h4>
        <div class="curri-details">
            <div class="navbar">
                <img src="~/image/istockphoto-1138089745-170667a.jpg" class="logo">
                <ul>
                    <li><a asp-controller="ADMIN" asp-action="Dashboard">Home</a></li>
                </ul>
            </div>
            <div class="content">
                <b>
                    <h1>Learning Materials Management</h1>
                    <p>Subject Details</p>
                </b>

            </div>
            <table class="table">
                <tr>
                    <th>Subject Code:</th>
                    <td>@Model.SubjectCode</td>
                </tr>
                <tr>
                    <th>NameVN:</th>
                    <td>
                        @Model.SubjectNameVn
                    </td>
                </tr>
                <tr>
                    <th>English Name:</th>
                    <td>@Model.SubjectNameEn</td>
                </tr>
                <tr>
                    <th>PreRequisite</th>
                    <td>
                        @Model.PreRequisite
                    </td>
                </tr>
                <tr>
                    <th>StatusId</th>
                    <td>
                        @Model.StatusId
                    </td>
                </tr>

                <tr>
                    <th></th>
                    <td>
                        <div>
                            <a asp-controller="ADMIN" asp-action="ListOfCombo"><button type="button"><span></span> View Combo</button></a>
                        </div>
                    </td>
                </tr>
            </table>
            <div class="table-container">
                <table class="table-2">
                    <thead>
                        <tr>
                            <th>Subject Code</th>
                            <th>Subject NameVN</th>
                            <th>Subject NameEN</th>
                            <th>Semester</th>
                            <th>PreRequisite </th>
                            <th>StatusId</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Curri_sub)
                        {
                            <tr>
                                <td>@item.SubjectCode</td>
                                <td>@item.Subject.SubjectNameVN</td>
                                <td>@item.Subject.SubjectNameEn</td>
                                <td>@item.Semester</td>
                                <td>@item.Subject.PreRequisite </td>
                                <td>@item.Subject.StatusId</td>
                      
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.SubjectCode">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>


</body>
</html>
